<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.animal_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @animal.animal_age %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @animal.animal_breed %>
</p>

<p>
  <strong>Color:</strong>
  <%= @animal.animal_color %>
</p>

<p>
  <strong>Caretakers:</strong>
  <% if @animal.caretakers.any? %>
    <ul>
      <% @animal.caretakers.each do |caretaker| %>
        <li><%= caretaker.name %></li>
      <% end %>
    </ul>
  <% else %>
    <span>Not being taken care of</span>
  <% end %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
